.container{
  height: calc(100vh - 13.5rem);
  display: flex;
  flex-direction: column;
}

.h{
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin: 0;
  padding: 0.5rem;
}

.scroll-area {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 0.2rem;
  }
}
